/**{outline: 1px solid rgba(255,0,0,04)}*/
.cabecera{
	background-color: #000;
	font-family: Arial;
}
.menu ul li{
	list-style-type: none;
	display: inline;
	font-size: 15px;
	margin-left: 25px;
	color: #fff;
}
.menu ul{
	margin-top: 50px;
}
.submenu{
	padding: 20px 0;
	font-family: Arial;
	color: #0000FF;
	background-color: #E6E6E6;
	font-weight: bold;
}
.submenu h3{
	margin-bottom: 20px;
	color: #000;
}
.submenu .col-3 img{
	max-width: 100%;
}
.contenido .col-10{
	margin-top: 50px;

}
.contenido img{
	height: 125px;
	width: 125px;
	display: inline-block;
	margin-right: 20px;
	margin-top: 10px;
}
.contenido p{
	display: inline-block;
	margin-right: 24px;
	text-align: center;
	/*width: 125px*/
}

.contenido .direccion{
	margin-top: 60px;
}
.contenido .icono{
	width: 15px;
	height: 15px;
}
.contenido h3{
	font-size: 15px;
	font-family: Arial;
	padding-left: 0;
	padding-bottom: 5px;
	border-bottom: 2px solid #A4A4A4;
}
.contenido .col-2 p{
	font-size: 10px;
	font-family: Arial;
	text-align: left;
	padding-bottom: 8px;
	margin-top: 5px;

}
/* Inserta tu codigo aqui */